.context-menu-container {
    position: fixed;
    z-index: 1000;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 0;
    border: var(--border-width) solid var(--border-color);
    font-size: var(--small-text-font-size);
    overflow: hidden;
}

.ctx-menu-item {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    cursor: pointer;

    * {
        margin: 0;
    }
}

.ctx-menu-item:hover {
    background-color: var(--accent-color);
    color: var(--light-background-color);
}