.sidebar {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 1rem;
    min-height: 0;
    box-sizing: border-box;

    resize: horizontal;
    overflow: auto;
    min-width: 250px;
    max-width: 35vw;
    width: 20vw;
}

.conversation-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    box-sizing: border-box;
    min-height: 0;
    overflow-x: hidden;
    scrollbar-width: none;

    .sidebar-info-text {
        color: var(--text-color-muted);
        font-family: var(--text-font), sans-serif;
        align-self: center;
        vertical-align: middle;
        margin: 0;
    }
}

.conversation-container::-webkit-scrollbar {
    display: none !important;
}

.conversation-container.empty {
    align-items: center;
    justify-content: center;
}

.sidebar-controls {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.conversation-entry {
    border-radius: var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    padding: 0.5rem;
    background-color: var(--dark-background-color);
    cursor: pointer;
    font-family: var(--text-font), sans-serif;
    display: flex;
    flex-direction: row;
}

.conversation-entry.active {
    color: var(--light-background-color);
    background-color: var(--tertiary-accent);
}