@font-face {
  font-family: "0xPropo";
  src: url("./fonts/0xPropo-Medium.ttf");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "AspektaVF";
  src: url("./fonts/AspektaVF.ttf");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Hikasami";
  src: url("./fonts/Hikasami-VF.ttf");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* Thanks to https://fontesk.com for these awesome fonts <3 */